.gocache/
.gomodcache/
artifacts/

*.exe
*.dmg
*.7z
*.db
*.dll

config.yaml
tray-config.json
country.mmdb
GeoLite2-*.mmdb
geoip.dat
geosite.dat

MihomoTray-runtime-*/
ui/
1/
mihomo/

mihomo-tray/*.exe
mihomo-tray/*.7z
